html {
  height: 100%;
  width: 100%;
}

body {
  font-family: arial;
  background-image: linear-gradient(45deg, #8ab3f5, #ededed);
  background-attachment: fixed;
  font-size: 140%;
  margin: 0px;
}

header {
  margin: 1em 1em 0em 1em;
  font-size: 200%;
  text-align: center;
  box-shadow: 0px 2px 5px;
  padding: 1em;
  background-color: rgba(250,250,250,0.75);
}

footer {
  color: rgb(227, 227, 227);
  background-color: rgba(10,10,10,0.75);
  padding: 1em;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 50%;
}

hr {
  color: black;
  border: 1px solid black;
}

.main-nav {
  text-align: center;
  padding: 0em 1em 0em 1em;
}

.main-nav li {
  transition: 0.5s;
  color: #000000;
  display: inline-block;
  font-weight: bold;
  font-size: 90%;
  border: 2px solid;
  border-radius: 10px;
  padding: 1em;
  margin: 0.1em 0.1em 0.1em 0.1em;
}

.main-nav li:hover {
  background-color: rgba(255,255,255,0.50);
  transition: 0.5s;
}

.nav-current-page {
  background-color: rgba(225,225,225,0.50);
}

.feature-title {
  text-align: center;
}

.feature-div {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0em 2em 0em 2em;
  display: flex;
  justify-content: center;
	align-items: center;
}

.feature-div p {
  text-align: left;
  line-height: 150%;
}

.steps {
  margin: 0em 2em 3em 0em;
  text-align: center;
}

.steps ol > li {
  font-size: 150%;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
  list-style-position: inside;
}

.steps ul {
  text-align: left;
  margin-left: 25%;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styles for mobile protrait screen and tablet landscape screen */
@media only screen and (max-width: 769px) {

  body {
    font-size: 90%;
  }
  
	.main-nav {
    font-size: 80%;
  }

  footer {
    font-size: 70%;
  }

  .feature-div {
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
  }

  .feature-div figure {
    scale: 75%;
  }

  .steps ul {
    margin-left: 10%;
  }
  
}

/* account for layout on features page */
@media only screen and (max-width: 1150px) {

  .feature-div {
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
  }
  
}
