/* FONTS */
@import url(../css/clash-display.css);

/* VARIABLES */
:root {
  --c-dark: #212529;
  --c-brand: #4e57d4;
  --c-brand-light: #6970dd;
  --c-brand-rgb: 78, 87, 212;
  --c-body: #727272;
  --font-base: "ClashDisplay", sans-serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
  position: relative;
}

h1,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}

/* NAVBAR */
.navbar {
  box-shadow: var(--box-shadow);
  background-color: #f2f2fc;
}
.nav-link {
  font-size: 18px;
  border-radius: 30px;
}

.fq:hover {
  background-color: #dba8ad;
}
.contact:hover {
  background-color: #c4bbe2;
}
.heroHead {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 0 0 4px NONE;
}
.ftrs:hover {
  background-color: #d59a6e;
}
.nav-link:hover {
  text-decoration: underline;
  box-shadow: var(--box-shadow);
}
.navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
}

/* FOOTER */
footer {
  background-color: #212529;
  padding-top: 10px;
  bottom: 0;
  height: 50px;
  width: 100%;
}

/* BTN */
.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}

.btn-brand {
  background-color: BLACK;
  border-color: var(--c-brand);
  color: white;
  font-size: 23px;
}

.btn-brand:hover {
  background-color: #0078d4;
  border-color: var(--c-brand-light);
  color: white;
}

/* HERO (LANDING PAGE) */
#hero {
  background: url(./assets/images/landing/windows12.jpeg);
  height: 715px;
  background-position: center;
  background-size: cover;
}
h1.wyd {
  font-size: 5em;
  color: white;
  text-transform: uppercase;
}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
/* FAQ PAGE */
.accordion {
  padding-top: 50px;
}
.accordion-header {
  font-size: 20px;
}
.pls {
  font-size: 54px;
}
.accordion-button {
  font-size: 21px;
  /* color: var(--c-brand-light); */
  font-weight: bold;
}

.faqFoot {
  position: fixed;
}

.contactFoot {
  position: fixed;
}
/*GUIDE (HOW-TO PAGE)*/

.steps {
  margin: 0em 2em 3em 0em;
  text-align: center;
  min-height: 100vh;
}

.steps p {
  font-weight: bold;
  font-size: 20px;
}

.steps ol > li {
  font-size: 28px;

  font-weight: bold;
  margin-top: 1em;
  text-align: center;
  list-style-position: inside;
}

.steps ul {
  text-align: left;
  margin-left: 25%;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skip-to,
.skip-to a:visited,
.skip-to a {
  font-size: 80%;
  text-decoration: none;
  color: #003985;
}
/*FEATURES PAGE */

.feature-title {
  text-align: center;
}

.feature-div {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0em 2em 0em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-div p {
  text-align: left;
  line-height: 150%;
}
.accessibility {
  margin: 5em 5em 5em 5em;
}
/* account for layout on features page */
@media only screen and (max-width: 1150px) {
  .feature-div {
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
  }
}

@media only screen and (max-width: 769px) {
  /* body {
      font-size: 90%;
    }
    
      .main-nav {
      font-size: 60%;
    }
  
    .skip-to {
      font-size: 60%;
    }
  
    footer {
      font-size: 70%;
    }
   */
  .feature-div {
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
  }

  .feature-div figure {
    scale: 75%;
  }

  .steps ul {
    margin-left: 10%;
  }
}
.skip-to {
  padding-left: 20px;
  padding-top: 10px;

  font-size: 18px;
}
